<?xml version="1.0"?>
<ArrayOfExternalDataSourceSuo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ExternalDataSourceSuo>
    <Kind>MSSQL</Kind>
    <Datasource>OPFN31</Datasource>
    <InitialCatalog>OPFN</InitialCatalog>
    <Authentication>Windows Authentication</Authentication>
    <PasswordEncrypted>AQAAANCMnd8BFdERjHoAwE_x002F_Cl_x002B_sBAAAAbXQg2GPfOU2EmWMTkjMjbAQAAAACAAAAAAAQZgAAAAEAACAAAAARnrIPTHNnUQ8iDWTE2aBuAlmZgKKVU_x002B_8Dn86wkoUAhwAAAAAOgAAAAAIAACAAAAAD8nZiSOzIVuf3pNYu9HkIKYb6_x002F_kLBGdqmm68KVOqKwhAAAAAlVryan2R4I0SXvxGSTEgpQAAAAOscSKPe8QDdOLvZDasVtoPRpZ2a7H09YuEwVra0Tb56nzvRXvyL4AFxt2GSG_x002B_8cyJ6PJTOrhVBxKlL03MaFgG0_x003D_</PasswordEncrypted>
    <IsPomModel>false</IsPomModel>
    <IsExternalModel>true</IsExternalModel>
  </ExternalDataSourceSuo>
</ArrayOfExternalDataSourceSuo>