
<DSL Version='1.13'>
    <Project>
        <Name>TrainingLibView.TNModel</Name>
        <Version>01.00.00</Version>
        <Prefix>Siemens.Mom.Presales.Training</Prefix>
        <Domain>Training</Domain>
        <DomainAcronym>TN</DomainAcronym>
        <Guid>38460052-0d01-4f98-be99-1cca0536ba3b</Guid>
		<ProjectKind>ExternalSource</ProjectKind>
		<ExternalDataSourceKind>MSSQL</ExternalDataSourceKind>
    </Project>
    <References>
    </References>
</DSL>